<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EventDate</key>
	<string>Sep 22 -23</string>
	<key>EventPlace</key>
	<string>Virtual Innovation Forum 2016</string>
	<key>NavigationBarColour</key>
	<string>#0283BF</string>
	<key>EventDetailHeaderColour</key>
	<string>#01457F</string>
	<key>EventDetailNavBarTextColour</key>
	<string>#ffffff</string>
	<key>FavoriteEventColour</key>
	<string>#01457F</string>
	<key>IsFilterEnable</key>
	<true/>
	<key>SpeakerDetailBarColour</key>
	<string>#01457F</string>
</dict>
</plist>
